.welcomepage-header-imagebefore {
  position: relative;
  background-image: url(./welcomepage-stock1.jpg);
  height: 50vh;
  background-position: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  opacity: .7;
  filter: blur(1px);

}

.welcomepage-header-image:after{
  display:block;
  /* position: relative; */
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
}

.welcomepage-header-text{
  z-index: 1;
}
