.multiselect-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  /* grid-auto-flow: column; */
  background-color: #eaeaea;
  padding: 1rem;
  justify-content: center;
  overflow: auto;
}

.multi-item {
  border: 1px black solid;
  border-radius: 10px;
  width: 6em;
  padding: 4px;
  margin: auto;
}

.selected {
  color: white;
  background-color: rgb(65, 176, 245);
}
